/*This is for section with ID "Image"*/

.fill {
    margin-top: 50%;
}

#infoPic {
    display: block;
    border-radius: 50%;
    padding-top: 5px;
    padding-left: 1%;
}

#image {
    padding-top: 4%;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    background-color: #6293a7;
}

#image>address {
    display: block;
}

section #one {
    text-align: center;
    font-size: 100%;
}

section #two {
    text-align: center;
    font-size: 13px;
}

div i {
    color: #333;
}


/*This is code for section with "Main" id*/

#main {
    /*make the section behind the Links and Main*/
    background-color: #ffffcc;
    height: 100%;
}

#main div {
    margin-left: 5px;
}

#food {
    list-style-type: none;
}